table {
    /*width:100%;*/
  }
  table,
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }
  input {
    display: block;
  }
  section {
    border: 1px solid black;
    margin-top: 10px;
  }
  